<div class="d-flex justify-content-center">
  <h1>Game_memoryとは？</h1>
</div>

<div class="d-flex justify-content-center">
 <div class="p-about">
    <p class="text-center">
     Game_memory皆さんのお気に入りのスクリーンショットを共有したり保存を手助けするサイトです。<br>
     皆さんの思い出を共有したり皆さん自身で思い出を増やしていきましょう。<br>
     以下注意事項です<br>
     1.掲載する画像は公式ガイドラインで許可されているものしましょう。<br>
     2.他の方の不快になるようなコメントなどは控えましょう。
    </p>
 </div>
</div>

<div class="d-flex justify-content-center">
    <div class="about-visual"></div>
</div>